/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-high-contrast {
  --blur-ai-blur-170: blur(170px);
  --blur-ai-blur-150-2: blur(150px);
  --blur-ai-blur-85-3: blur(85px);
}