/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-narrow {
  --space-gutter: var(--dimension-narrow-grid-gutter);
  --space-left-end-margin: var(--dimension-narrow-grid-left-end-margin);
  --space-right-end-margin: var(--dimension-narrow-grid-right-end-margin);
  --space-left-end-margin: var(--space-left-end-margin);
  --space-right-end-margin: var(--space-right-end-margin);
}