/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-wide {
  --dimension-ai-callout-ai-callout-shadow-first-x: -40px;
  --dimension-ai-callout-ai-callout-shadow-first-y: 40px;
  --dimension-ai-callout-ai-callout-shadow-first-blur: 40px;
  --dimension-ai-callout-ai-callout-shadow-second-x: -40px;
  --dimension-ai-callout-ai-callout-shadow-second-y: 30px;
  --dimension-ai-callout-ai-callout-shadow-second-blur: 100px;
  --dimension-ai-callout-ai-callout-shadow-second-spread: -24px;
  --dimension-ai-callout-ai-callout-shadow-first-spread: -24px;
  --dimension-0px-0rem-spacing-00: 0px;
  --dimension-2px-0-125rem-spacing-01: 2px;
  --dimension-4px-0-25rem-spacing-02: 4px;
  --dimension-8px-0-5rem-spacing-03: 8px;
  --dimension-12px-0-75rem-spacing-04: 12px;
  --dimension-16px-1rem-spacing-05: 16px;
  --dimension-24px-1-5rem-spacing-06: 24px;
  --dimension-32px-2rem-spacing-07: 32px;
  --dimension-40px-2-5rem-spacing-08: 40px;
  --dimension-48px-3rem-spacing-09: 48px;
  --dimension-negative-spacing-0px-0rem-spacing-00-2: 0px;
  --dimension-negative-spacing-2px-0-125rem-spacing-01-2: -2px;
  --dimension-negative-spacing-4px-0-25rem-spacing-02-2: -4px;
  --dimension-negative-spacing-8px-0-5rem-spacing-03-2: -8px;
  --dimension-negative-spacing-12px-0-75rem-spacing-04-2: -12px;
  --dimension-negative-spacing-16px-1rem-spacing-05-2: -16px;
  --dimension-negative-spacing-24px-1-5rem-spacing-06-2: -24px;
  --dimension-negative-spacing-32px-2rem-spacing-07-2: -32px;
  --dimension-negative-spacing-40px-2-5rem-spacing-08-2: -40px;
  --dimension-negative-spacing-48px-3rem-spacing-09-2: -48px;
  --dimension-negative-spacing-64px-4rem-spacing-10-2: -64px;
  --dimension-negative-spacing-80px-5rem-spacing-11-2: -80px;
  --dimension-64px-4rem-spacing-10: 64px;
  --dimension-negative-spacing-96px-6rem-spacing-12-2: -96px;
  --dimension-negative-spacing-160px-10rem-spacing-13-2: -160px;
  --dimension-80px-5rem-spacing-11: 80px;
  --dimension-96px-6rem-spacing-12: 96px;
  --dimension-160px-10rem-spacing-13: 160px;
  --dimension-wide-grid-gutter: 32px;
  --dimension-wide-grid-left-end-margin: 16px;
  --dimension-wide-grid-right-end-margin: 16px;
  --dimension-wide-grid-columns: 4px;
  --dimension-wide-grid-aside-left-spacer: 0px;
  --dimension-wide-grid-aside-left-spacer-min-width: 0px;
  --dimension-wide-grid-aside-left-spacer-max-width: 0px;
  --dimension-wide-grid-2-column-width: 48px;
  --dimension-wide-grid-2-column-min-width: 48px;
  --dimension-wide-grid-2-column-max-width: 48px;
  --dimension-wide-grid-4-column-width: 288px;
  --dimension-wide-grid-4-column-min-width: 288px;
  --dimension-wide-grid-4-column-max-width: 288px;
  --dimension-wide-grid-6-column-width: 208px;
  --dimension-wide-grid-6-column-min-width: 208px;
  --dimension-wide-grid-6-column-max-width: 208px;
  --dimension-wide-grid-8-column-width: 288px;
  --dimension-wide-grid-8-column-min-width: 288px;
  --dimension-wide-grid-8-column-max-width: 288px;
  --dimension-wide-grid-12-column-width: 288px;
  --dimension-narrow-grid-gutter: 16px;
  --dimension-narrow-grid-left-end-margin: 0px;
  --dimension-narrow-grid-right-end-margin: 16px;
  --dimension-narrow-grid-columns: 4px;
  --dimension-narrow-grid-aside-left-spacer: 0px;
  --dimension-narrow-grid-aside-left-spacer-min-width: 0px;
  --dimension-narrow-grid-aside-left-spacer-max-width: 0px;
  --dimension-narrow-grid-2-column-width: 64px;
  --dimension-narrow-grid-2-column-min-width: 64px;
  --dimension-narrow-grid-2-column-max-width: 64px;
  --dimension-narrow-grid-4-column-width: 304px;
  --dimension-narrow-grid-4-column-min-width: 304px;
  --dimension-narrow-grid-4-column-max-width: 304px;
  --dimension-narrow-grid-6-column-width: 224px;
  --dimension-narrow-grid-6-column-min-width: 224px;
  --dimension-narrow-grid-6-column-max-width: 224px;
  --dimension-narrow-grid-8-column-width: 304px;
  --dimension-narrow-grid-8-column-min-width: 304px;
  --dimension-narrow-grid-8-column-max-width: 304px;
  --dimension-narrow-grid-12-column-width: 304px;
  --dimension-condensed-grid-gutter: 0px;
  --dimension-condensed-grid-left-end-margin: 0px;
  --dimension-condensed-grid-right-end-margin: 0px;
  --dimension-condensed-grid-column-count: 4px;
  --dimension-condensed-grid-aside-left-spacer: 0px;
  --dimension-condensed-grid-aside-left-spacer-min-width: 0px;
  --dimension-condensed-grid-aside-left-spacer-max-width: 0px;
  --dimension-condensed-grid-2-column-width: 80px;
  --dimension-condensed-grid-2-column-min-width: 80px;
  --dimension-condensed-grid-2-column-max-width: 80px;
  --dimension-condensed-grid-4-column-width: 320px;
  --dimension-condensed-grid-4-column-min-width: 320px;
  --dimension-condensed-grid-4-column-max-width: 320px;
  --dimension-condensed-grid-6-column-width: 240px;
  --dimension-condensed-grid-6-column-min-width: 240px;
  --dimension-condensed-grid-6-column-max-width: 240px;
  --dimension-condensed-grid-8-column-width: 320px;
  --dimension-condensed-grid-8-column-min-width: 320px;
  --dimension-condensed-grid-8-column-max-width: 320px;
  --dimension-condensed-grid-12-column-width: 320px;
  --dimension-nested-grid-gutter: 0px;
  --dimension-nested-grid-left-end-margin: 0px;
  --dimension-nested-grid-right-end-margin: 0px;
  --dimension-nested-grid-left-end-margin-with-aside: 0px;
  --dimension-nested-grid-right-end-margin-with-aside: 0px;
  --dimension-nested-grid-column-count: 4px;
  --dimension-nested-grid-aside-left-spacer-width: 0px;
  --dimension-nested-grid-aside-left-spacer-min-width: 0px;
  --dimension-nested-grid-aside-left-spacer-max-width: 0px;
  --dimension-nested-grid-2-column-width: 0px;
  --dimension-nested-grid-2-column-min-width: 56px;
  --dimension-nested-grid-2-column-max-width: 56px;
  --dimension-nested-grid-4-column-width: 0px;
  --dimension-nested-grid-4-column-min-width: 144px;
  --dimension-nested-grid-4-column-max-width: 144px;
  --dimension-nested-grid-6-column-width: 0px;
  --dimension-nested-grid-6-column-min-width: 232px;
  --dimension-nested-grid-6-column-max-width: 232px;
  --dimension-nested-grid-8-column-width: 0px;
  --dimension-nested-grid-8-column-min-width: 320px;
  --dimension-nested-grid-8-column-max-width: 320px;
  --dimension-nested-grid-12-column-width: 0px;
  --dimension-aside-left-min-width: 256px;
  --dimension-aside-right-min-width: 256px;
  --dimension-wide-grid-number: 0px;
  --dimension-end-margins: 16px;
  --dimension-columns: 4px;
  --dimension-typography-fluid-heading-03-size: 20px;
  --dimension-typography-fluid-heading-03-line-height: 28px;
  --dimension-typography-fluid-heading-03-letter-spacing: 0px;
  --dimension-typography-fluid-heading-03-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-03-paragraph-indent: 0px;
  --dimension-typography-fluid-heading-04-size: 28px;
  --dimension-typography-fluid-heading-04-line-height: 36px;
  --dimension-typography-fluid-heading-04-letter-spacing: 0px;
  --dimension-typography-fluid-heading-04-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-04-paragraph-indent: 0px;
  --dimension-typography-fluid-heading-05-size: 32px;
  --dimension-typography-fluid-heading-05-line-height: 40px;
  --dimension-typography-fluid-heading-05-letter-spacing: 0px;
  --dimension-typography-fluid-heading-05-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-05-paragraph-indent: 0px;
  --dimension-typography-fluid-heading-06-size: 32px;
  --dimension-typography-fluid-heading-06-line-height: 40px;
  --dimension-typography-fluid-heading-06-letter-spacing: 0px;
  --dimension-typography-fluid-heading-06-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-06-paragraph-indent: 0px;
  --dimension-typography-fluid-display-01-size: 42px;
  --dimension-typography-fluid-display-01-line-height: 50px;
  --dimension-typography-fluid-display-01-letter-spacing: 0px;
  --dimension-typography-fluid-display-01-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-01-paragraph-indent: 0px;
  --dimension-typography-fluid-display-02-size: 42px;
  --dimension-typography-fluid-display-02-line-height: 50px;
  --dimension-typography-fluid-display-02-letter-spacing: 0px;
  --dimension-typography-fluid-display-02-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-02-paragraph-indent: 0px;
  --dimension-typography-fluid-display-03-size: 42px;
  --dimension-typography-fluid-display-03-line-height: 50px;
  --dimension-typography-fluid-display-03-letter-spacing: 0px;
  --dimension-typography-fluid-display-03-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-03-paragraph-indent: 0px;
  --dimension-typography-fluid-display-04-size: 42px;
  --dimension-typography-fluid-display-04-line-height: 50px;
  --dimension-typography-fluid-display-04-letter-spacing: 0px;
  --dimension-typography-fluid-display-04-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-04-paragraph-indent: 0px;
  --dimension-typography-fluid-paragraph-01-size: 24px;
  --dimension-typography-fluid-paragraph-01-line-height: 30px;
  --dimension-typography-fluid-paragraph-01-letter-spacing: 0px;
  --dimension-typography-fluid-paragraph-01-paragraph-spacing: 0px;
  --dimension-typography-fluid-paragraph-01-paragraph-indent: 0px;
  --dimension-typography-fluid-quotation-01-size: 20px;
  --dimension-typography-fluid-quotation-01-line-height: 26px;
  --dimension-typography-fluid-quotation-01-letter-spacing: 0px;
  --dimension-typography-fluid-quotation-01-paragraph-spacing: 0px;
  --dimension-typography-fluid-quotation-01-paragraph-indent: 0px;
  --dimension-typography-fluid-quotation-02-size: 32px;
  --dimension-typography-fluid-quotation-02-line-height: 40px;
  --dimension-typography-fluid-quotation-02-letter-spacing: 0px;
  --dimension-typography-fluid-quotation-02-paragraph-spacing: 0px;
  --dimension-typography-fluid-quotation-02-paragraph-indent: 0px;
  --dimension-carbon-for-ib-mer-experience-masthead-search-max-width: 48px;
  --dimension-carbon-for-ib-mer-experience-masthead-search-min-width: 48px;
  --dimension-aside-left-spacer-max-xl: 288px;
  --dimension-max-modal-text-margin-right: 224px;
  --dimension-max-modal-min-width: 1120px;
  --dimension-max-modal-max-width: 1120px;
  --dimension-x-large-modal-text-margin-right: 185.6px;
  --dimension-x-large-modal-min-width: 928px;
  --dimension-x-large-modal-max-width: 928px;
  --dimension-large-modal-text-margin-right: 172.8px;
  --dimension-large-modal-min-width: 864px;
  --dimension-large-modal-max-width: 864px;
  --dimension-medium-modal-text-margin-right: 121.6px;
  --dimension-medium-modal-min-width: 608px;
  --dimension-medium-modal-max-width: 608px;
  --dimension-small-modal-text-margin-right: 0px;
  --dimension-small-modal-min-width: 320px;
  --dimension-small-modal-max-width: 671px;
  --dimension-viewport-size: 1056px;
  --dimension-aside-left-min-width: 320px;
  --dimension-aside-right-min-width: 320px;
  --dimension-wide-grid-left-end-margin-with-aside: 288px;
  --dimension-wide-grid-right-end-margin-with-aside: 288px;
  --dimension-wide-grid-aside-left-spacer: 224px;
  --dimension-wide-grid-aside-left-spacer-min-width: 224px;
  --dimension-wide-grid-aside-left-spacer-max-width: 224px;
  --dimension-wide-grid-2-column-width: 96px;
  --dimension-wide-grid-2-column-min-width: 96px;
  --dimension-wide-grid-2-column-max-width: 162px;
  --dimension-wide-grid-4-column-width: 224px;
  --dimension-wide-grid-4-column-min-width: 224px;
  --dimension-wide-grid-4-column-max-width: 356px;
  --dimension-wide-grid-6-column-width: 352px;
  --dimension-wide-grid-6-column-min-width: 352px;
  --dimension-wide-grid-6-column-max-width: 550px;
  --dimension-wide-grid-8-column-width: 480px;
  --dimension-wide-grid-8-column-min-width: 480px;
  --dimension-wide-grid-8-column-max-width: 744px;
  --dimension-wide-grid-12-column-width: 736px;
  --dimension-wide-grid-12-column-min-width: 736px;
  --dimension-wide-grid-12-column-max-width: 938px;
  --dimension-narrow-grid-left-end-margin-with-aside: 272px;
  --dimension-condensed-grid-left-end-margin-with-aside: 272px;
  --dimension-nested-grid-left-end-margin-with-aside: 0px;
  --dimension-nested-grid-right-end-margin-with-aside: 0px;
  --dimension-nested-grid-aside-left-spacer: 0px;
  --dimension-nested-grid-aside-left-spacer-min-width: 0px;
  --dimension-nested-grid-aside-left-spacer-max-width: 0px;
  --dimension-nested-grid-2-column-width: 0px;
  --dimension-nested-grid-2-column-min-width: 104px;
  --dimension-nested-grid-2-column-max-width: 104px;
  --dimension-nested-grid-4-column-width: 0px;
  --dimension-nested-grid-4-column-min-width: 240px;
  --dimension-nested-grid-4-column-max-width: 240px;
  --dimension-nested-grid-6-column-width: 0px;
  --dimension-nested-grid-6-column-min-width: 376px;
  --dimension-nested-grid-6-column-max-width: 376px;
  --dimension-nested-grid-8-column-width: 0px;
  --dimension-nested-grid-8-column-min-width: 512px;
  --dimension-nested-grid-8-column-max-width: 512px;
  --dimension-nested-grid-12-column-width: 0px;
  --dimension-nested-grid-12-column-min-width: 0px;
  --dimension-nested-grid-12-column-max-width: 0px;
  --dimension-condensed-grid-right-end-margin-with-aside: 272px;
  --dimension-condensed-grid-aside-left-spacer: 256px;
  --dimension-condensed-grid-aside-left-spacer-min-width: 256px;
  --dimension-condensed-grid-aside-left-spacer-max-width: 256px;
  --dimension-condensed-grid-2-column-width: 128px;
  --dimension-condensed-grid-2-column-min-width: 128px;
  --dimension-condensed-grid-2-column-max-width: 128px;
  --dimension-condensed-grid-4-column-width: 256px;
  --dimension-condensed-grid-4-column-min-width: 256px;
  --dimension-condensed-grid-4-column-max-width: 256px;
  --dimension-condensed-grid-6-column-width: 384px;
  --dimension-condensed-grid-6-column-min-width: 384px;
  --dimension-condensed-grid-6-column-max-width: 384px;
  --dimension-condensed-grid-8-column-width: 512px;
  --dimension-condensed-grid-8-column-min-width: 512px;
  --dimension-condensed-grid-8-column-max-width: 512px;
  --dimension-condensed-grid-12-column-width: 768px;
  --dimension-condensed-grid-12-column-min-width: 768px;
  --dimension-condensed-grid-12-column-max-width: 768px;
  --dimension-narrow-grid-right-end-margin-with-aside: 288px;
  --dimension-narrow-grid-aside-left-spacer: 240px;
  --dimension-narrow-grid-aside-left-spacer-min-width: 240px;
  --dimension-narrow-grid-aside-left-spacer-max-width: 240px;
  --dimension-narrow-grid-2-column-width: 112px;
  --dimension-narrow-grid-2-column-min-width: 112px;
  --dimension-narrow-grid-2-column-max-width: 112px;
  --dimension-narrow-grid-4-column-width: 240px;
  --dimension-narrow-grid-4-column-min-width: 240px;
  --dimension-narrow-grid-4-column-max-width: 240px;
  --dimension-narrow-grid-6-column-width: 368px;
  --dimension-narrow-grid-6-column-min-width: 368px;
  --dimension-narrow-grid-6-column-max-width: 368px;
  --dimension-narrow-grid-8-column-width: 496px;
  --dimension-narrow-grid-8-column-min-width: 496px;
  --dimension-narrow-grid-8-column-max-width: 496px;
  --dimension-narrow-grid-12-column-width: 752px;
  --dimension-narrow-grid-12-column-min-width: 752px;
  --dimension-narrow-grid-12-column-max-width: 752px;
  --dimension-typography-fluid-heading-04-size: 28px;
  --dimension-typography-fluid-heading-04-line-height: 36px;
  --dimension-typography-fluid-heading-04-letter-spacing: 0px;
  --dimension-typography-fluid-heading-04-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-04-paragraph-indent: 0px;
  --dimension-typography-fluid-heading-05-size: 42px;
  --dimension-typography-fluid-heading-05-line-height: 50px;
  --dimension-typography-fluid-heading-05-letter-spacing: 0px;
  --dimension-typography-fluid-heading-05-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-05-paragraph-indent: 0px;
  --dimension-typography-fluid-heading-06-size: 42px;
  --dimension-typography-fluid-heading-06-line-height: 50px;
  --dimension-typography-fluid-heading-06-letter-spacing: 0px;
  --dimension-typography-fluid-heading-06-paragraph-spacing: 0px;
  --dimension-typography-fluid-heading-06-paragraph-indent: 0px;
  --dimension-typography-fluid-display-01-size: 54px;
  --dimension-typography-fluid-display-01-line-height: 64px;
  --dimension-typography-fluid-display-01-letter-spacing: 0px;
  --dimension-typography-fluid-display-01-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-01-paragraph-indent: 0px;
  --dimension-typography-fluid-display-02-size: 54px;
  --dimension-typography-fluid-display-02-line-height: 64px;
  --dimension-typography-fluid-display-02-letter-spacing: 0px;
  --dimension-typography-fluid-display-02-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-02-paragraph-indent: 0px;
  --dimension-typography-fluid-display-03-size: 60px;
  --dimension-typography-fluid-display-03-line-height: 70px;
  --dimension-typography-fluid-display-03-letter-spacing: -0.64px;
  --dimension-typography-fluid-display-03-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-03-paragraph-indent: 0px;
  --dimension-typography-fluid-display-04-size: 92px;
  --dimension-typography-fluid-display-04-line-height: 102px;
  --dimension-typography-fluid-display-04-letter-spacing: -0.64px;
  --dimension-typography-fluid-display-04-paragraph-spacing: 0px;
  --dimension-typography-fluid-display-04-paragraph-indent: 0px;
  --dimension-typography-fluid-paragraph-01-size: 28px;
  --dimension-typography-fluid-paragraph-01-line-height: 36px;
  --dimension-typography-fluid-paragraph-01-letter-spacing: 0px;
  --dimension-typography-fluid-paragraph-01-paragraph-spacing: 0px;
  --dimension-typography-fluid-paragraph-01-paragraph-indent: 0px;
  --dimension-typography-fluid-quotation-01-size: 24px;
  --dimension-typography-fluid-quotation-01-line-height: 30px;
  --dimension-typography-fluid-quotation-01-letter-spacing: 0px;
  --dimension-typography-fluid-quotation-01-paragraph-spacing: 0px;
  --dimension-typography-fluid-quotation-01-paragraph-indent: 0px;
  --dimension-typography-fluid-quotation-02-line-height: 50px;
  --dimension-typography-fluid-quotation-02-letter-spacing: 0px;
  --dimension-typography-fluid-quotation-02-paragraph-spacing: 0px;
  --dimension-typography-fluid-quotation-02-paragraph-indent: 0px;
  --dimension-cell-specs-top-padding: 16px;
  --dimension-cell-specs-bottom-padding: 30px;
  --dimension-cell-specs-icon-margin: 1px;
  --dimension-cell-specs-select-icons-top-padding: 14px;
  --dimension-cell-specs-select-icons-bottom-padding: 30px;
  --dimension-cell-specs-expandable-cells-bottom-padding: 30px;
  --dimension-cell-specs-top-padding: 7px;
  --dimension-cell-specs-bottom-padding: 7px;
  --dimension-cell-specs-icon-margin: 1px;
  --dimension-cell-specs-expandable-cells-top-padding: 7px;
  --dimension-cell-specs-expandable-cells-bottom-padding: 7px;
  --dimension-wide-grid-left-end-margin-with-aside: var(--dimension-wide-grid-left-end-margin);
  --dimension-wide-grid-right-end-margin-with-aside: var(--dimension-wide-grid-right-end-margin);
  --dimension-narrow-grid-left-end-margin-with-aside: var(--dimension-narrow-grid-left-end-margin);
  --dimension-narrow-grid-right-end-margin-with-aside: var(--dimension-narrow-grid-right-end-margin);
  --dimension-condensed-grid-left-end-margin-with-aside: var(--dimension-condensed-grid-left-end-margin);
  --dimension-condensed-grid-right-end-margin-with-aside: var(--dimension-condensed-grid-right-end-margin);
  --dimension-modal-min-width: var(--dimension-small-modal-min-width);
  --dimension-modal-max-width: var(--dimension-small-modal-max-width);
  --dimension-modal-text-margin-right: var(--dimension-small-modal-text-margin-right);
  --dimension-end-margins: var(--dimension-end-margins);
  --dimension-left-end-margin-with-aside: var(--dimension-wide-grid-left-end-margin);
  --dimension-right-end-margin-with-aside: var(--dimension-wide-grid-right-end-margin);
  --dimension-aside-left-spacer-min-width: var(--dimension-wide-grid-aside-left-spacer-min-width);
  --dimension-aside-left-spacer-max-width: var(--dimension-wide-grid-aside-left-spacer-max-width);
  --dimension-2-column-width: var(--dimension-wide-grid-2-column-width);
  --dimension-2-column-min-width: var(--dimension-wide-grid-2-column-min-width);
  --dimension-2-column-max-width: var(--dimension-wide-grid-2-column-max-width);
  --dimension-4-column-width: var(--dimension-wide-grid-4-column-width);
  --dimension-4-column-min-width: var(--dimension-wide-grid-4-column-min-width);
  --dimension-4-column-max-width: var(--dimension-wide-grid-4-column-max-width);
  --dimension-6-column-width: var(--dimension-wide-grid-6-column-width);
  --dimension-6-column-min-width: var(--dimension-wide-grid-6-column-min-width);
  --dimension-6-column-max-width: var(--dimension-wide-grid-6-column-max-width);
  --dimension-8-column-width: var(--dimension-wide-grid-8-column-width);
  --dimension-8-column-min-width: var(--dimension-wide-grid-8-column-min-width);
  --dimension-8-column-max-width: var(--dimension-wide-grid-8-column-max-width);
  --dimension-12-column-width: var(--dimension-wide-grid-12-column-width);
  --dimension-column-width: var(--dimension-2-column-width);
  --dimension-column-min-width: var(--dimension-2-column-min-width);
  --dimension-column-max-width: var(--dimension-2-column-max-width);
  --dimension-end-margins: var(--dimension-end-margins);
  --dimension-modal-min-width: var(--dimension-large-modal-min-width);
  --dimension-modal-max-width: var(--dimension-large-modal-max-width);
  --dimension-modal-text-margin-right: var(--dimension-large-modal-text-margin-right);
  --dimension-cell-specs-left-padding: var(--dimension-16px-1rem-spacing-05);
  --dimension-cell-specs-right-padding: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-cell-specs-min-height: var(--dimension-64px-4rem-spacing-10);
  --dimension-cell-specs-ai-label-top-margin: var(--dimension-16px-1rem-spacing-05);
  --dimension-cell-specs-ai-label-right-margin: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-cell-specs-chevron-icons-top-padding: var(--dimension-16px-1rem-spacing-05);
  --dimension-cell-specs-chevron-icons-bottom-padding: var(--dimension-32px-2rem-spacing-07);
  --dimension-cell-specs-expandable-cells-top-padding: var(--dimension-16px-1rem-spacing-05);
  --dimension-row-specs-ai-label-top-padding: var(--dimension-16px-1rem-spacing-05);
  --dimension-row-specs-ai-label-bottom-padding: var(--dimension-32px-2rem-spacing-07);
  --dimension-cell-specs-left-padding: var(--dimension-16px-1rem-spacing-05);
  --dimension-cell-specs-right-padding: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-cell-specs-min-height: var(--dimension-32px-2rem-spacing-07);
  --dimension-cell-specs-ai-label-top-margin: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-cell-specs-ai-label-right-margin: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-cell-specs-chevron-icons-top-padding: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-cell-specs-chevron-icons-bottom-padding: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-row-specs-ai-label-top-padding: var(--dimension-8px-0-5rem-spacing-03);
  --dimension-row-specs-ai-label-bottom-padding: var(--dimension-8px-0-5rem-spacing-03);
}